.imgs{
    height: 140px;
    border: 1px solid #4c4141;;
    border-radius: 8px;
}
.gallerize-example{
    padding: 1px;
}
.lightbox#lightbox-lightbox {
  
    width: 1200px !important;
    height: 900px !important;
    max-width: 95vw !important;
    max-height: 100vh !important;
}
.backbtn{
    float: right;
}